/*
CSS for the CS142 project #4 main page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/

.header{
    border-style: groove;
    font-family: Georgia;
    font-size:250%;
    background-color: antiquewhite;
    text-align: center;
    margin: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

a {
    background-color: bisque;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-style: ridge;
}